.header {
    padding: 0 calc((100% - 1128px) / 2);
    max-width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e2d5f;
    font-weight: normal;
    z-index: 1050;
}

.header-nav-group,
.header-user-group {
    display: flex;
    align-items: center;
}

.header > div {
    color: white;
}

.header-nav-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 50%;
    height: 100%;
}

.header-logo {
    width: 178px;
    height: 96px;
    background-image: url('../images/pal-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header .header-user-group {
    padding: 0px 0px 0 120px;
}

.header-nav-group > div:hover {
    border-bottom: 3px solid white;
}

.header-nav-group > div {
    padding: 36px 0px;
    width: auto;
}
