.cardList {
    display: flex;
    margin-bottom: 90px;
    justify-content: start;
    padding: 0px 30%;
    flex-direction: column;
    align-items: flex-start;
}

.head-eng-title {
    border-bottom: 2px solid red;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: #1e2d5f;
}

.head-title {
    letter-spacing: 3px;
    margin-bottom: 50px;
    color: #1e2d5f;
    font-weight: bold;
    font-size: 30px;
}

.cardList .eachCard {
    display: flex;
    width: 100%;
}

.cardList > div {
    gap: 30px;
}
